{% extends "base.html" %}
{% block title %}My Pokemons{% endblock %}

{% block content %}
<h1>My Pokemons</h1>
<hr>

{% if not pokemons %}
<div class="message msg-info">
    {% if query_str %}
    You have no such Pokemon.
    {% else %}
    You have no Pokemons. Go and trade!
    {% endif %}
</div>
{% endif %}

<form method="GET">
    <input type="text" name="s" placeholder="Search..."
        value="{{ query_str }}">
    <input type="submit" value="Search">
</form>

<table>
    <tr>
        <th>Name</th>
        <th>HP</th>
        <th>Type</th>
        <th>Worth</th>
        <th>More Info</th>
    </tr>
    {% for pokemon in pokemons %}
    <tr>
        <td>{{ pokemon.name }}</td>
        <td>{{ pokemon.hp }}</td>
        <td>{{ pokemon.type_l }}</td>
        <td>{{ pokemon.cost_price }}</td>
        <td><a href="#">more...</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

