{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate "Reset Password " %}{% endblock %}

{% block content %}
    <style>

    .login-button {
        background-color: blue;
        border: none;
        padding: 10px 20px;
        border-radius: 8px;
        color: white;
        font-weight: bold;
        cursor: pointer;
        margin-top: 20px;
    }

    .editprofform {
        border: none;
        margin-bottom: 15px;
        max-width: 100%;
    }
    .editproflabel {
        min-width: 25%;
        text-align: left;
    }
    </style>
{% if validlink %}
<div class="pagetitle">
    <h2 class="heading">{% translate "Reset Password" %}</h2>
</div>

    <div class="row justify-content-center">
        <div class="message msg-warning">
            <p>Please enter your new password!</p>
        </div>
    </div>


<form action="" method="post">
    {% csrf_token %}
    <div class="row justify-content-center">
        <label class="editproflabel">{{ form.new_password1.label_tag }}</label>
        <input class="editprofform" type="password" name="new_password1" autocomplete="new-password" required="" aria-describedby="id_new_password1_helptext" id="id_new_password1">
    </div>
    <div class="row justify-content-center">
        {% if form.new_password1.errors %}
            <div class="message msg-danger">
                {{ form.new_password1.errors }}
            </div>
        {% endif %}
    </div>
    <div class="row justify-content-center">
        <label class="editproflabel">{{ form.new_password2.label_tag }}</label>
        <input class="editprofform" type="password" name="new_password2" autocomplete="new-password" required="" aria-describedby="id_new_password2_helptext" id="id_new_password2">
    </div>
    <div class="row justify-content-center">
        {% if form.new_password2.errors %}
            <div class="message msg-danger">
                {{ form.new_password2.errors }}
            </div>
        {% endif %}
    </div>
    <div class="row justify-content-center">
        <input class="login-button" type="submit" value="{% translate 'Reset Password' %}">
    </div>
</form>

{% else %}
    <div class="row justify-content-center">
        <div class="message msg-danger">
            <p>{% translate "Invalid or expired link." %}</p>
        </div>
    </div>

{% endif %}
{% endblock %}
