{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate "Reset Password " %}{% endblock %}

{% block content %}
    <style>

    .login-button {
        background-color: blue;
        border: none;
        padding: 10px 20px;
        border-radius: 8px;
        color: white;
        font-weight: bold;
        cursor: pointer;
        margin-top: 20px;
    }
    </style>
<div class="pagetitle">
    <h2>{% translate "Reset Password" %}</h2>
</div>


<form action="" method="post">
    {% csrf_token %}
    {% if form.email.errors %}
    <div class="message msg-danger">
        {{ form.email.errors }}
    </div>
    {% endif %}

    <table>
        <tr>
            <td>{{ form.email.label_tag }}</td>
            <td>{{ form.email }}</td>
        </tr>
    </table>

    <input class="login-button" type="submit" value="{% translate 'Reset Password' %}">
</form>
{% endblock %}

