{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate "Reset Password " %}{% endblock %}

{% block content %}
{% if validlink %}
<div class="pagetitle">
    <h2>{% translate "Reset Password" %}</h2>
</div>

<div class="message msg-warning">
    <p>Please enter your new password!</p>
</div>

<form action="" method="post">
    {% csrf_token %}

    <table>
        <tr>
            <td>{{ form.new_password1.label_tag }}</td>
            <td>{{ form.new_password1 }}</td>
            <td>
                {% if form.new_password1.errors %}
                <div class="message msg-danger">
                    {{ form.new_password1.errors }}
                </div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>{{ form.new_password2.label_tag }}</td>
            <td>{{ form.new_password2 }}</td>
            <td>
                {% if form.new_password2.errors %}
                <div class="message msg-danger">
                    {{ form.new_password2.errors }}
                </div>
                {% endif %}
            </td>
        </tr>
    </table>

    <input type="submit" value="{% translate 'Reset Password' %}">
</form>
{% else %}
<div class="message msg-danger">
    <p>{% translate "Invalid or expired link." %}</p>
</div>
{% endif %}
{% endblock %}
