{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" >
        <title>{% block title %}{{template_data.title}}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'base.css' %}">
    </head>
    <body>
        {% block navbar %}
        <h1>PokeTrade</h1>
        <ul class="menu">
            {% if user.is_authenticated %}
            <li><a href="/pokemon/all">Sales</a></li>
            <li><a href="{% url "accounts:my_profile" %}">Profile</a></li>
            <li class="align-right">
                <form method="post" action="{% url 'accounts:logout' %}">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            </li>
            {% comment %}
            <li class="align-right">
                <a href="{% url 'accounts.logout' %}">Logout</a>
            </li>
            {% endcomment %}
            <li class="align-right">{{ user.username }}</li>
            {% else %}
            <li><a href="{% url 'accounts:login' %}">Login</a></li>
            {# <li><a href="{% url 'accounts:signup' %}">Register</a></li> #}
            {% endif %}
        </ul>
        {% endblock %}

        {% if messages %}
        {% for message in messages %}
        <div class="message msg-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock %}

        <div class="footer">
            <ul>
                <li><a href="/">Main Site</a></li>
            </ul>
        </div>
    </body>
</html>
