{% extends "base.html" %}

{% block title %}All Pokemons{% endblock %}

{% block content %}
    <style>
    .search-2 {
        position: relative;
        width: 100%;

    }

    .search-2 input {
        height: 45px;
        border: none;
        padding-right: 100px;
        border-radius: 10px;
    }

    .search-2 input:focus {
        border-color: none;
        box-shadow: none;
        outline: none;
    }

    .search-2 i {
        position: absolute;
        top: 12px;
        left: -10px;
        font-size: 24px;
        color: #eee;
    }

    .search-2 button {
        position: absolute;
        right: 3px;
        top: 5px;
        border: none;
        height: 35px;
        background-color: yellowgreen;
        color: black;
        width: 90px;
        border-radius: 10px
    }

    @media (max-width:800px) {
        .search-1 input {
            border-right: none;
            border-bottom: 1px solid #eee;
        }

        .search-2 i {
            left: 4px;
        }

        .search-2 input {
            padding-left: 34px;
        }

        .search-2 button {
            height: 35px;
            top: 5px;
        }

        .navbar-collapse {
            max-width: 80%;
        }

        .navbar_image {
            height: 15%;
            width: 15%;
        }
    }




    </style>
    <div class="container-fluid">
    <div class="container-fluid">
        <div class="d-flex justify-content-center">
            <h1 class="heading">All Pokemons</h1>
        </div>
        {% if not pokemons %}
            <div class="alert alert-info">
                {% if query_str %}
                    There are no such Pokemon
                {% else %}
                    There are no pokemons in this site.
                {% endif %}
            </div>
        {% endif %}
        <div class="row justify-content-center">
            <div class="">
                <div class="row">
                    <form class="search-2" method="GET">
                        <input type="text" name="s" placeholder="Search..." >
                        <button type="submit" >Search</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-deck">
            {% for pokemon in pokemons %}
                {% if pokemon.card %}
                    <div class="col-sm-2 image-box">
                        <img class="img-fluid" src="{{ pokemon.card.url }}" alt="Card image cap">
                        <span class="row-sm-3">
                            <a class="pokecardview" href="{% url "trading:single_detail" pokemon.pk %}"> View </a>

                        </span>

                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>



    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% endif %}

        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>
        {% endif %}
    </ul>
    <em class="pagenum">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</em>
    </div>

{% endblock %}

